#logos-sections {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 175px;
    padding: 0px 195px;
    margin-top: 190px;
}

#logo-container {
    display: flex;
    width: 1050px;
    height: 175px;
    gap: 90px;
    justify-content: center;
}