#products {
    width: 1140px;
    height: 1241px;
}

#products-container {
    width: 1124px;
    height: 1124px;
    left: 195px;
    padding: 80px 0;
    gap: 24px;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products-main-info {
    width: 691px;
    height: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#product-first-title {
    width: 191px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: var(--second-text-color);
    text-align: center;
}

#product-main-title {
    width: 320px;
    height: 32px;
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-text-color);
}

#products-ph-title {
    width: 347px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--second-text-color);
}

#products-cards {
    width: 1092px;
    height: 879px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-product {
    width: 300px;
    height: 52px;
    background-color: transparent;
    border: 1px solid var(--button-color);
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 14px;
    font-weight: 700;
    color: var(--button-color);
}

#btn-product:hover {
    cursor: pointer;
}


.row {
    width: 1035px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.product-card {
    width: 183px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.colum-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.product-title {
    width: 131px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-text-color);
    margin-top: 30px;
}

.description-product {
    width: 150px;
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: var(--second-text-color);
}

.prices {
    width: 108px;
    height: 34px;
    padding: 5px 3px;
    gap: 5px;
    display: flex;
}

.normal-price {
    width: 52px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: var(--normal-price-color);
}

.rebate-price {
    width: 45px;
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    color: var(--rebate-price-color);
}