@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-background-color: #252B42;
    --white-color-text: #FFFFFF;
    --second-color-text: #737373;
    --clen-blue-text: #23A6F0;
    --button-color: #23A6F0;

    --second-text-color: #737373;
    --blue-text-color: #2A7CC7;
    --dark-text-color: #252B42;
    --normal-price-color: #BDBDBD;
    --rebate-price-color: #23856D;
    --tag-color: #E74040;
    --footer-background: #FAFAFA;
    --newsletter-label-background: #F9F9F9;
}
