#shop-cards {
    width: 1440px;
    height: 732px;
    padding: 0 168px 0 87px;
}

#shop-cards-container {
    display: flex;
    gap: 20px;
    width: 1185px;
    height: 732px;
    left: 87px;
    padding: 80px 0;
}

#card-one {
    position: relative;
    width: 611px;
    height: 572px;
    left: 1px;
}

#card-img-one {
    width: 611px;
    height: 572px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card-title {
    width: 192px;
    height: 64px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--white-color-text);
}

.card-content {
    width: 420px;
    height: 238px;
    top: 334px;
    left: -1px;
    padding: 60px 156px 42px 66px;
    gap: 5px;
    background-color: rgba(45, 139, 192, 0.75);
    position: absolute;
}

#double-cards {
    width: 558px;
    height: 572px;
}

#card-two {
    position: relative;
    width: 557px;
    height: 289px;
    overflow: hidden;
}

#card-two-content {
    width: 347px;
    height: 173px;
    top: 116px;
    left: -1px;
    padding: 40px 51px 29px 36px;
    gap: 5px;
}

#card-two-title {
    width: 260px;
    height: 30px;
    top: 40px;
    left: 36px;
    font-size: 20px;
    font-weight: 500;
}

#card-three {
    width: 557px;
    height: 261px;
    top: 21px;
    position: relative;
    overflow: hidden;
}

#card-three-content {
    width: 360px;
    height: 173px;
    top: 104px;
    left: -1px;
    padding: 28px 64px 23px 36px;
    gap: 5px;
}

#card-three-title {
    width: 260px;
    height: 30px;
    top: 28px;
    left: 36px;
    font-size: 20px;
    font-weight: 500;
}

.btn-cards {
    width: 210px;
    height: 52px;
    padding: 15px 40px;
    border: 1px solid var(--white-color-text);
    border-radius: 5px;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    color: var(--white-color-text);
}

.btn-cards:hover {
    cursor: pointer;
}